/* Global Styles */

/* this is the latest */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

h1,
h2,
h3
h4 {
   font-weight: 700;
}

h3,
h4 {
   font-weight: 500;
}

h1 {
   font-size: 2.5rem;
   line-height: 1.1;
}

h2 {
   font-size: 1.875rem;
   line-height: 1.1;
   margin-bottom: 1rem;
   /* padding: 2rem 0; */
}

h3 {
   font-size: 1.25rem;
   line-height: 1.1;
   margin-bottom: 0.5rem;
}

h4 {
   font-size: 1.25rem;
   line-height: 1.1;
   margin-bottom: 0.5rem;
}

p {
   line-height: 1.4;
}

.caption {
   font-size: 0.8rem;
   opacity: 0.7;
}


/* Global structure elements */

.container-flex {
   display: flex;
}

.container {
   max-width: 1098px;
   margin: 0 auto;
   padding: 0 1.5rem;
   overflow: hidden;
}

.section {
   padding: 2rem 0rem;
}

.column-left {
   width: 60%;
   padding-right: 1.5rem;
}

.column-left img,video {
   width: 100%;
}

.column-right {
   display: flex;
   flex-direction: column;
   width: 40%;
   padding-left: 1rem;
   border-left: 1px solid #EEEEEE;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.91rem;
   background-color: blue;
   border-radius: 0.19rem;
   max-width: 300px;
}

.button span {
   font-size: 1.125rem;
   line-height: 1.1;
   font-weight: 400;
   text-align: center;
   padding: 0.8rem 1.5rem;
   color: white;
}


/* Nav header */

nav .container-flex {
   align-items: center;
   padding: 0 1.5rem;
   height: 4rem;
}

nav .logo {
   flex-grow: 1;
   display: flex;
   align-items: center;
   color: #CCCCCC;
   /* height: 2rem; */
}

nav .logo img {
   height: 2.5rem;
}

nav .logo .study-icon,.online-icon,.login-icon {
   display: none;
}

nav ul {
   display: flex;
}

nav ul li {
   margin-right: 1rem;
}

nav ul li:last-child {
   margin-right: 0rem;
}

nav .logo span {
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 20px;
}

nav .logo strong {
   color: #222222;
}

/* break point 665px */
@media only screen and (max-width: 665px) {
   nav ul,.colmar-text {
      display: none;
   }

   nav .logo .study-icon,.online-icon,.login-icon {
      display: block;
   }

   nav .logo {
      justify-content: space-between;
   }

   nav .logo img {
      height: 2rem;
   }
}



/* Main Banner */

.banner {
   background-color: #EEE;
}

.banner .hero-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   padding: 1.5rem;
   width: 40%;
}

.banner h1 {
   margin-bottom: 1rem;
}

.banner p {
   font-size: 1.125rem;
   line-height: 1.5;
   margin-bottom: 1.5rem;
}

/* break point 900px */
@media only screen and (max-width: 900px) {
   .banner .container-flex {
      flex-direction: column;
   }

   .banner .hero-content {
      width: 100%;
   }

   .banner .column-left {
      padding: 0;
      width: 100%;
      /* overflow: hidden; */
   }

   .banner.section {
      padding-top: 0;
   }

   .banner .column-left img {
      object-fit: cover;
      object-position: center top;
      height: 40vh; /* what a sexy piece of code!!!!*/
   }
}


/* Section 1 – it doesnt hurt to keep...*/


.section-1 .column-left img {
   margin-bottom: 2rem;
}

         /* Feature block styling (global) */

.section-1 .column-right .feature-block:first-child {
   padding-top: 0;
}

.feature-block {
   display: flex;
   align-items: top;
   /* margin-bottom: 1rem; */
   border-bottom: 1px solid #EEEEEE;
   padding: 1rem 0;
}

.feature-block img{
   width: 35%;
   height: 100%;
}

/* turning off mobile images */
.feature-block img.small{
   display: none;
}

.feature-block .content {
   padding-left: 1.5rem;
}

.feature-block .content a {
   color: #278af1;
}

.feature-block .content p {
   margin-bottom: 0.5rem;
}


@media only screen and (max-width: 750px) {
   .section-1 .container-flex .column-left {
      display: none;
   }
   .section-1 .container-flex .column-right {
      width: 100%;
   }
   .section-1 .column-right .feature-block {
      flex-direction: column;
      align-items: flex-start;
   }
   .section-1 .feature-block img.large {
      display: none;
   }
   .section-1 .feature-block img.small {
      display: block;
      width: 100%;
      height: 20vh;
      object-fit: cover;
      margin-bottom: 1.5rem;
      /* object-position: center top; */
   }
   .section-1 .feature-block .content {
      padding: 0 1rem;
   }
   .column-right {
      padding: 0 0;
      border: 0;
   }
   .feature-block {
      border: 0;
   }
}
/* Image tweaks */
/* @media only screen and (max-width: 500px) {
   .section-1 .feature-block img.small {
      height: 20vh;
   }
} */

/* Section 2 - Start learning*/

.section-2 {
   background-color: #EEE;
   padding: 2rem 3rem 2rem 4.5rem;
}

.section-2 .container-flex {
   flex-wrap: wrap;
}

.feature-tile {
   width: 30%;
   background-color: #FFF;
   margin: 0 1.5rem 1.5rem 0;
 }

.feature-tile .content {
   padding: 1rem 1rem 1.5rem 1rem;
}

.feature-tile img {
   width: 100%;
}

.feature-tile span {
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #BBB;
}

.feature-tile p {
   margin-top: 0.5rem;
}

.section-2 h2 {
   text-align: center;
   margin-bottom: 2rem;
}

@media only screen and (max-width: 740px) {
   .feature-tile img,p,.course-text { /*note this is turning off button text*/
      display: none;
   }
   .section-2 .container-flex {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
   }
   .section-2 {
      background-color: #FFF;
      padding: 2rem 1rem;
   }
   .section-2 .container {
      padding: 0;
   }
   .feature-tile {
      background-color: #EEE;
      width: 100%;
   }
   .feature-tile h3 {
      margin: 0;
      padding-left: 1rem;
   }
   .feature-tile .content {
      padding: 1.5rem 1rem;
   }
}


/* Section 3 */


.section-3 h2 {
   text-align: center;
   margin-bottom: 2rem;
}

.section-3 .column-right .feature-block:first-child {
   padding-top: 0;
}

.section-3 h2 {
   padding-top: 2rem;
}

.section-3 video {
   margin-bottom: 1.5rem;
}

.section-3 .column-left h3 {
   margin-bottom: 0.5rem;
}

.section-3 .column-left p {
   margin-bottom: 2rem;
}
@media only screen and (max-width: 750px) {
   .section-3 .column-right {
      display: none;
   }
   .section-3 h3 {
      display: none;
   }
   .section-3 .column-left {
   width: 100%;
   padding: 0;
   }
}


/* Footer */

footer span {
   flex-grow: 1;
}

footer span,ul.foot {
   padding: 1rem 1rem 3rem 1rem;
   border-top: 1px solid #CCC;
}

footer ul {
   display: flex;
}

footer li {
   padding-left: 1rem;
}
